<main id="item-create">
<h1><a href="/collection/{{_id}}" class="inline">&#8592;</a> Edit Collection</h1>
<form
  method="post"
  action="/collection/{{_id}}/edit"
  id="create-collection-form"
>
  <label for="name">Title
    <input
      type="text"
      name="name"
      placeholder="Collection Title"
      value="{{name}}"
    />
  </label>
  <label for="description">Description
    <textarea
      form="create-collection-form"
      name="description"
      id="taid"
      cols="35"
      wrap="soft"
    >{{description}}</textarea>
  </label>
  <label for="isTodoList">Is it a Todolist?
    <input type="checkbox" name="isTodoList" {{#if isTodoList}} checked="true" {{/if}} />
  </label>

  <button type="submit">Save Changes</button>
</form>
<hr>
<h1>Delete Collection</h1>
<form
  action="/collection/{{_id}}/delete"
  method="post"
>
  <label for="safeToDelete">
    Are you sure you want to delete this Collection?
    <input type="checkbox" name="safeToDelete" id="" />
  </label>
  <button type="submit">Delete Collection</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}

</main>