<form
  method="post"
  action="/collection/{{_id}}/edit"
  id="create-collection-form"
>
  <label for="name">Title
    <input
      type="text"
      name="name"
      placeholder="Collection Title"
      value="{{name}}"
    />
  </label>
  <label for="description">Description
    <textarea
      form="create-collection-form"
      name="description"
      id="taid"
      cols="35"
      wrap="soft"
    >{{description}}</textarea>
  </label>
  <label for="isTodoList">Is it a Todolist?
    <input type="checkbox" name="isTodoList" {{#if isTodoList}} checked="true" {{/if}} />
  </label>

  <button type="submit">Save Changes</button>
</form>

{{!-- this should be a form maybe even its own page, and this also should have some kind of safety measure as in type in the collection name to confirm --}}
<a href="/collection/{{_id}}/delete">Delete Collection</a>

Are you sure you want to delete this Collection?
<form action="/collection/{{_id}}/delete" method="post">
  <label for="confirmName">
    <input type="text" name="confirmName" />
    <button type="submit">Delete Collection</button>
  </label>
</form>