<main id="collections">
  <header class="nav__secondary">
    <h1>Your Collections<span class="super">({{collections.length}})</span></h1>
    <nav>
      <ul>
        <li><a href="/collection/create">Create Collection</a></li>
      </ul>
    </nav>
  </header>
  <section id="collections__wrapper">
    {{#each (reverseArray collections)}}
      <article>
        <a href="/collection/{{_id}}">
          <h2>{{name}}<span class="super">({{items.length}})</span></h2>
          {{#if description}}<p>{{{substr description 250}}}</p>{{/if}}
        </a>
      </article>
    {{/each}}
  </section>
</main>