<main id="collection">
  <header class="nav__secondary">
    <h1><a href="/collection/" class="inline">&#8592;</a> {{name}}<span class="super">({{items.length}})</span></h1>
    <p>{{description}}</p>
    <nav>
      <ul>
        <li><a href="/collection/{{_id}}/item/create">Create Item</a></li>
        <li><a href="/collection/{{_id}}/edit">Edit Collection</a></li>
      </ul>
    </nav>
  </header>

  <section id="collection__wrapper">
    {{#each (reverseArray items )}}
    <a href="/collection/{{../_id}}/item/{{_id}}"
      class="item {{#if ../isTodoList}}{{#if completed}}completed{{/if}}{{/if}}">

      <article class="collection__item 
      {{#equals type " img"}}img{{/equals}} 
      {{#equals type "img-url"}}img-url{{/equals}} 
      {{#equals type "text" }}text{{/equals}} 
      {{#equals type "url" }}url{{/equals}}">
        {{#if img}}
        <img src="{{img}}" alt="">
        {{/if}}
      <div class="collection__item__info">
                <div class="collection__item__text">
        {{#if title}}<h3 class="title">{{title}}</h3>{{/if}}

        {{#equals type "text"}}
          {{#if text}}
            <p class="text-s">{{{substr text 200}}}</p>
          {{/if}}
        {{/equals}}
        </div>
        {{#if ../isTodoList}}
        <form action="/collection/{{../_id}}/item/{{_id}}/update-status" method="post">
          <label for="todo">
            <input type="checkbox" name="todo" value="true" {{#equals completed true}}checked="true" {{/equals}} id=""
              onclick="form.submit()">
          </label>
        </form>
        {{/if}}
        </div>
      </article>

    </a>
    {{/each}}
  </section>
</main>