<main id="collection">
  <h1>{{name}} <span class="super">({{items.length}})</span></h1>
  <a href="/collection/{{_id}}/item/create">Create Item</a>
  <a href="/collection/{{_id}}/edit">Edit Collection</a>

  <section id="collection__wrapper">
  {{#each (reverseArray items )}}
    <a href="/collection/{{../_id}}/item/{{_id}}" class="item {{#if completed}}completed{{/if}}">
      {{#if img}} 
        {{#equals type "img"}}
        <article class="collection__item img">
        {{/equals}}
        {{#equals type "img-url"}}
        <article class="collection__item img-url">
        {{/equals}}
        {{#equals type "url"}}
        <article class="collection__item url">
        {{/equals}}
        <img src="{{img}}" alt="">
        {{title}}
        </article>
      {{/if}}

      {{#equals type "text"}}
        <article class="collection__item text">
          {{title}}
          {{#if text}}
            <p>
            {{text}}
            </p>
          {{/if}}
        </article>
      {{/equals}}
      {{#if ../isTodoList}} 
        <form action="/collection/{{../_id}}/item/{{_id}}/update-status" method="post">
          <label for="todo">
            <input type="checkbox" name="todo" value="true" {{#equals completed true}}checked="true"{{/equals}} id="" onclick="form.submit()">
          </label>
        </form>
      {{/if}}
    </a>
  {{/each}}
  </section>
</main>