<h1>{{name}} ({{items.length}})</h1>
<a href="/collection/{{_id}}/item/create">Create Item</a>
{{#each items}}
  <a href="/collection/{{../_id}}/item/{{_id}}">{{title}}</a>
{{/each}}
<a href="/collection/{{_id}}/edit">Edit Collection</a>