<main id="item-create">
  <h1><a href="/collection/{{collectionId._id}}" class="inline">&#8592;</a>
    Create an Item</h1>
  <div>
    <button class="btn btn-item btn-img" data-form="img">Img</button>
    <button class="btn btn-item btn-img-url" data-form="img-url">Img Url</button>
    <button class="btn btn-item btn-url" data-form="url">Url</button>
    <button
      class="btn btn-item btn-url-screenshot"
      data-form="url-screenshot"
    >Url Screenshot</button>
    <button class="btn btn-item btn-text" data-form="text">Text</button>
  </div>
  {{! img upload form }}
  <form
    method="post"
    enctype="multipart/form-data"
    action="/collection/{{collectionId}}/item/create-img?type=img"
    id="create-item-img-form"
    class="form-item img"
  >
    <h1>Img</h1>
    <label>
      Title
      <input type="text" name="title" placeholder="title" />
    </label>

    <label>
      Select your Image
      <input type="file" name="img" />
    </label>

    <label>Text
      <textarea
        form="create-item-img-form"
        name="text"
        id="taid"
        wrap="soft"
      >{{text}}</textarea>
    </label>

    <button type="submit">Create Item</button>
  </form>

  {{! img url form }}
  <form
    method="post"
    action="/collection/{{collectionId}}/item/create-img-url?type=img-url"
    id="create-item-img-url-form"
    class="form-item img-url"
  >
    <h1>Img Url</h1>

    <label>
      Title
      <input type="text" name="title" placeholder="title" />
    </label>

    <label>
      Image Url
      <input type="url" name="imgUrl" />
    </label>

    <label>Text
      <textarea
        form="create-item-img-url-form"
        name="text"
        id="taid"
        wrap="soft"
      >{{text}}</textarea>
    </label>

    <button type="submit">Create Item</button>

  </form>

  {{! Url form }}
  <form
    method="post"
    action="/collection/{{collectionId}}/item/create-url?type=url"
    id="create-item-url-form"
    class="form-item url"
  >
    <h1>Url</h1>

    <label>
      Title
      <input type="text" name="title" placeholder="title" />
    </label>

    <label>
      Page Url
      <input type="url" name="url" />
    </label>

    <label>Text
      <textarea
        form="create-item-url-form"
        name="text"
        id="taid"
        wrap="soft"
      >{{text}}</textarea>
    </label>

    <button type="submit">Create Item</button>
  </form>

  {{! Url Screenshot form }}
  <form
    method="post"
    action="/collection/{{collectionId}}/item/create-url-screenshot?type=url-screenshot"
    id="create-item-url-screenshot-form"
    class="form-item url-screenshot"
  >
    <h1>Url Screenshot</h1>

    <label>
      Title
      <input type="text" name="title" placeholder="title" />
    </label>

    <label>
      Page Url
      <input type="url" name="url" />
    </label>

    <label>Text
      <textarea
        form="create-item-url-screenshot-form"
        name="text"
        id="taid"
        wrap="soft"
      >{{text}}</textarea>
    </label>

    <button type="submit">Create Item</button>
  </form>

  {{! Text form }}
  <form
    method="post"
    action="/collection/{{collectionId}}/item/create-text?type=text"
    id="create-item-text-form"
    class="form-item text"
  >
    <h1>Text</h1>
    <label>
      Title
      <input type="text" name="title" placeholder="title" />
    </label>

    <label>Text
      <textarea
        form="create-item-text-form"
        name="text"
        id="taid"
        wrap="soft"
      >{{text}}</textarea>
    </label>

    <button type="submit">Create Item</button>

  </form>
  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
</main>