<form
  action="/collection/{{collectionId._id}}/item/{{_id}}/edit"
  method="post"
  id="edit-item-form"
>
  <label for="title">
    Title
    <input type="text" name="title" placeholder="title" value="{{title}}" />
  </label>

  {{!-- {{#equals type "img"}}
    <label for="img">
      Image
      <input type="file" name="img" />
    </label>
  {{/equals}} --}}

  {{#equals type "img-url"}}
    <label for="img">
      Image Url
      <input type="url" name="img" value="{{img}}" />
    </label>
  {{/equals}}

  {{#equals type "url"}}
    <label for="url">
      Page Url
      <input type="url" name="url" value="{{url}}" />
    </label>
  {{/equals}}

  <label for="text">Text
    <textarea
      form="edit-item-form"
      name="text"
      id="taid"
      wrap="soft"
    >{{text}}</textarea>
  </label>

  <button type="submit">Save Changes</button>
</form>

<form
  action="/collection/{{collectionId._id}}/item/{{_id}}/delete"
  method="post"
>
  <label for="safeToDelete">
    Are you sure you want to delete this item?
    <input type="checkbox" name="safeToDelete" id="" />
  </label>
  <button type="submit">Delete Item</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}